* {
    box-sizing: border-box;
}

main {
    background-color: #1B1924;
    height: 844px;
    width: 390px;
}

h1 {
    font-size: 25px;
    text-align: center;
}

.bold {
    font-weight: 700;
}

/* Header Styles */
#header {
    color: #FFFFFF;
    font-family: 'Josefin Sans',sans-serif;
    display: flex;
    flex-direction: column;
    padding: 51px 59px 8px; 
}


.icon {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    align-self: center;
}


/* Input Styles */

.input--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 36px;
}


.user--input{
    border-radius: 8px;
    background: #444059;
    border:none;
    color: #8F8F8F;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:5px;
}
.endorsement--box {
    width: 317px;
    height: 118px;
    padding: 12px 16px;
    resize: none;

}

#to-from--area {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    width: 317px;
    margin: 10px ;
}

.to-from--input {
    display: grid;
    margin: 5px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #444059;
    border:none;
    color: #8F8F8F;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:5px;
}
#submitButton {
    width: 317px;
    height: 61px;
    border-radius: 8px;
    flex-shrink: 0; 
    background-color: #28A9F1;
    color: #04131C;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 13px;    
}

/* Need to make sure the input boxes are spaced correctly */

/* Endorsement Display Styling */

#endorsementDisplay {
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 10px
}

.accolade--container {
    background: #FFF;
    color: #1B1924;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    width: 317px;
    padding: 14px;
}